<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Cadastro Aluno</title>
    </head>
    {{ include('common/navbar.html.twig') }}
    <body>
    <br>

      {% if errors %}
      <div class="danger">
        <ul>
        {% for error in errors %}
          <li>{{ error.getmessage()}}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}


      <h2 align="center">Cadastro de Aluno</h2>
        <div class="container">
          <form action="/aluno/store" method="post">
            <div class="form-group">
              {{ form_widget(form) }}
            </div>
          </form>
        </div>
    </body>
      {{ include('common/footer.html.twig') }}
</html>