<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Cadastro Aluno</title>
    </head>
    {{ include('common/navbar.html.twig') }}
    <body>
      
       
        <h3>Alunos</h3>
    <ul class="tags">
        {% for a in aluno %}
        	<li><a href="{{ path('aluno.find', {'id': a.prontuario}) }}">{{ a.nome }}</a></li>
        {% endfor %}
    </ul>
    </body>

      {{ include('common/footer.html.twig') }}
</html>
