<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Sistema de Gestão de Trabalhos de Conclusão de Curso</title>
    </head>
    {{ include('common/navbar.html.twig') }}
    <body>
      
       
        <h3>Orientador</h3>
    <ul class="tags">
            <li>Nome:{{ orientador.nome }}</li>
            <li>E-mail: {{ orientador.email }}</li>
    </ul>

    </body>

      {{ include('common/footer.html.twig') }}
</html>
