<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Orientador</title>
    </head>
    {{ include('common/navbar.html.twig') }}
    <body>
        <br>
        <div class="p-3">
            <div id="top" class="row">
                <div class="col-md-3">
                    <h2>Orientador</h2>
                </div>
             
                <div class="col-md-6">
                <form action="/orientador/findNome" method="post">
                    <div class="input-group h2">
                        <input name="data" class="form-control" id="search" type="text" placeholder="Pesquisar Orientador">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-pencil"></span> Pesquisar
                            </button>
                        </span>
                    </div>
                </form>
                </div>
             
                <div class="col-md-3">
                    <a href="{{ path('orientador.cadastroOrientador')}}" class="btn btn-primary pull-right h2">Novo Orientador</a>
                </div>
            </div>
        </div>
        <div id="list" class="row">
            <div class="table-responsive col-md-12">
                <table class="table table-striped pad" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td></td> 
                            <th>Nome</th>
                            <td></td> 
                            <th>E-mail</th>
                            <th class="actions">Ações</th>
                         </tr>
                    </thead>
                    <tbody>
                        {% for o in orientador %}
                            <tr>
                                <td></td> 
                                <td>{{ o.nome }}</td>
                                <td></td> 
                                <td>{{ o.email }}</td>                         
                                <td class="actions">
                                    <a class="btn btn-success btn-xs" href="{{ path('orientador.find', {'id': o.id}) }}">Visualizar</a>
                                    <a class="btn btn-warning btn-xs" href="{{ path('orientador.edit', {'id': o.id}) }}">Editar</a>
                                    <a class="btn btn-danger btn-xs"  href="{{ path('orientador.delete', {'id': o.id}) }}" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div> 
    </body>
      {{ include('common/footer.html.twig') }}
</html>