<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Cadastro TCC</title>


        <script>

            /*** Pesquisar Alunos **/

            function carregaAlunos() {
                $(document).ready(function () {
                    $.ajax({
                        url: "/tcc/pesquisa_alunos_curso",
                        data: {curso: $('#curso').val()},
                        cache: false,
                        type: "POST",
                        dataType: "json",
                        beforeSend: function () {
                            $('#listaAlunos').empty();
                            $('#msg').html('Carregando Alunos ...');
                        },
                        success: function (json) {
                            console.log(json);
                            for (var i = 0; i < json.length; i++) {
                                $('#listaAlunos').append('<option id="conteudo" value="' + json[i].id + '">' + json[i].id + "-" + json[i].nome + '</option>');
                            }
                            if (json.length > 0) {
                                $('#msg').html('Alunos Encontrados');

                            } else {
                                $('#msg').html('Nenhum Aluno Encontrado');
                            }

                        }
                    });
                });
            }


            /** Submit Form **/
            function sendForm() {

                $("#formTCC").submit(function (e) {
                    $.ajax({
                        url: "/tcc/store",
                        type: 'POST',
                        data: $("#formTCC").serialize(),
                        mimeType: "multipart/form-data",
                        contentType: false,
                        cache: false,
                        processData: false,
                        dataType: 'json',
                        success: function (data)
                        {
                            console.log(data);
                            if (data.status == 'saved') {
                                console.log("Deu certo");
                                $("#msg_form").append("<p class='text-success'>Cadastro Realizado com Sucesso</p>");
                            }
                            if (data.status == 'invalid') {
                                console.log("Deu errado");
                                $("#msg_form").append("<p class='text-danger'>TCC Já Cadastrado</p>");
                            }
                            console.log(data);

                            alert("Deu Certo");
                        }

                    });

                    e.preventDefault();
                });

            }

        </script>
    </head>

    {{ include('common/navbar.html.twig') }}
    <body>

        <div class="container">
            <h1>Cadastro TCC</h1>
            <form id="#formTCC">
                <div class="form-group">
                    <label for="titulo" class="control-label">Titulo:</label>
                    <input type="text" class="form-control" name="titulo">

                </div>
                <div class="form-group">
                    <label class="control-label"  for="orientador">Orientador:</label>
                    <select name="orientador" class="form-control">
                        {% for orientador in orientadores %}
                            <option value="{{orientador.id}}">{{orientador.nome}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label"  for="curso">Curso:</label>
                    <select id="curso" name="curso" class="form-control" onchange="carregaAlunos()">
                        {% for curso in cursos %}
                            <option value="{{curso.id}}">{{curso.nome}}</option>
                        {% endfor %}
                    </select>
                </div>



                <div class="form-group">
                    <p id="msg" class="text-info"></p>
                    <select id="listaAlunos" class="form-control" name="aluno" size="5" multiple>
                    </select>
                </div>

                <div class="form-group" id="msg_form">
                </div>

                <div class="col-sm-offset-2">
                    <button id="btnForm" type="submit" class="btn btn-success" onclick="sendForm()">Enviar</button>
                </div>

            </form>
        </div>
    </body>

    {{ include('common/footer.html.twig') }}
</html>
