<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Cadastro TCC</title>


        <script>
            function carregaAlunos() {
                $(document).ready(function () {
                    $.ajax({
                        url: "/tcc/pesquisa_alunos_curso",
                        data: {curso: $('#curso').val()},
                        cache: false,
                        type: "POST",
                        dataType: "json",
                        beforeSend: function () {
                            $('#msg').html('Carregando Alunos ...');
                        },

                        success: function (json) {

                            console.log(json);
                            $.each(json, function (index, value) {
                             
                             console.log(value);
                            /* $('#theme').append('<option value="' + value[0] + '">' + value[1] + '</option>');
                             $('#loading').remove();*/
                             });
                            $('#msg').html(json[0] + ' Alunos Encontrados');
                        }
                    });
                });
            }
        </script>
    </head>

    {{ include('common/navbar.html.twig') }}
    <body>

        <div class="container">
            <h1>Cadastro TCC</h1>
            <form action="/tcc/store" method="post">
                <div class="form-group">
                    <label for="titulo" class="control-label">Titulo:</label>
                    <input type="text" class="form-control" name="titulo">

                </div>
                <div class="form-group">
                    <label class="control-label"  for="orientador">Orientador:</label>
                    <select name="orientador" class="form-control">
                        {% for orientador in orientadores %}
                            <option value="{{orientador.id}}">{{orientador.nome}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label"  for="curso">Curso:</label>
                    <select id="curso" name="curso" class="form-control" onchange="carregaAlunos()">
                        {% for curso in cursos %}
                            <option value="{{curso.id}}">{{curso.nome}}</option>
                        {% endfor %}
                    </select>
                </div>

               

                <div class="form-group">
                    <p id="msg" class="text-info"></p>
                    <select class="form-control" name="aluno" size="5" multiple>
                        <option>text1</option>
                        <option>text2</option>
                        <option>text3</option>
                        <option>text4</option>
                        <option>text5</option>
                    </select>
                </div>

                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </body>

    {{ include('common/footer.html.twig') }}
</html>
